.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #334155;
  border-radius: 3px;
  color: #94a3b8;
  padding: 5px;
}

.btn {
  background-color: #3b82f6;
  color: #ffffff;
  border-radius: 4px;
  height: 32px;
  width: 72px;
  font-size: 14px;
}

.btn-visited {
  background-color: transparent;
}
